<%= form_with(model: listing, :html => { multipart: true }, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label t('title') %>
    <%= form.text_field :name, class:"form-control textfield", placeholder:"введіть назву товару" %>
  </div>

  <div class="form-group">
   <%= form.label t('categori') %>
     <% a = Array({})
      Cat.all.each do |cat|
      a.push(["#{cat.name}", "#{cat.id}"])
      end %>
      <%= form.select :catid, options_for_select(a), :class => 'genForm_dropBox' %>
  </div>     

  <div class="form-group">
    <%= form.label t('description') %>
    <%= form.text_area :description, class:"form-control", placeholder:"введіть опис товару" %>
  </div>

  <div class="form-group">
    <%= form.label t('price') %>
    <%= form.text_field :price, class:"form-control", placeholder:"введіть вартість товару" %>
  </div>

  <div class="form-group">
    <%= form.label t('mobile') %>
    <%= form.text_field :mob, class:"form-control", placeholder:"введіть номер телефону (10 цифр)" %>
  </div>

  <div class="form-group">
    <%= form.label t('image') %>
    <%= form.file_field :image, class:"form-control" %>
  </div>

  <%= form.fields_for :listing_attachments do |file| %>
     <div class="form-group">
       <%= form.label t('photo') %><br>
       <%= form.file_field :photo, :multiple => true, name: "listing_attachments[photo][]" %>
     </div>
   <% end %>

  <div class="actions">
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
