<div class="jumbotron">
 <h1><%= t('handcrafted items from around the world') %></h1>
 <br /><br />
 <h2><%= t('find what you need') %></h2>
</div>

<div class = "center">
  <%= form_for_filterrific @filterrific do |f| %>
    <div><%= t('search') %>
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed', 
          placeholder: 'введіть назву'
        ) %>
    </div>

  <div>
      Country
      <% 
      a = Array({"All" => ""})
      Cat.all.each do |cat|
      a.push(["#{cat.name}", "#{cat.id}"])
      end
      %>
      <%= f.select :with_catid, options_for_select(a), :class => 'genForm_dropBox' %>
      
    </div>

    <div>
        Sorted by
    </div>
    <div>
        <%= link_to(
          'Reset filters',
          reset_filterrific_url,
        ) %>
    </div>
    <%= render_filterrific_spinner %>
  <% end %>
</div>

<%= render(
  partial: 'listings/list',
  locals: { listings: @listings }
) %>

