<% if user_signed_in? %>
<div class = "center">
 <%= link_to t('new listing'), new_listing_path, class: "btn btn_link center" %>
 </div>
 <% end %>

<table class="table table-striped table-bordered">
    <tr>
        <th class = "center"><%= t('image') %></th>
        <th class = "center"><%= t('name') %></th>
        <th class = "center"><%= t('description') %></th>
        <th class = "center"><%= t('price') %></th>
        <th class = "center"><%= t('action') %></th>
    </tr>
        <% @listings.each do |listing| %>
        <tr>
        <td><%= image_tag listing.image.url(:thumb) %></td>
        <td><div class="textMini"><%= listing.name %></div></td>
        <td><div class="textMini"><%= listing.description %></div></td>
        <td><%= number_to_currency(listing.price) %></td>
        <td>

        <div class="btn-group-vertical" role="group" >
        
        
            <%= link_to t('view'), listing, class: "btn btn-info" %>
            <%= link_to t('edit'), edit_listing_path(listing), class: "btn btn-warning" %>
            <%= link_to t('destroy'), listing, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        
        </div>
        </td>
    </tr>
    <% end %>
</table>
<br>
